body {
  font-family: arial, helvetica,  sans-serif;
  font-size: 18px;
  line-height: 1.2em;
  background-color: #fff;
  padding: 5px;
  margin: 5px;
}

.thumbnail {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

a:link, a:visited, a:hover {
  color: #ff7b14;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:link.active, a:visited.active, a:hover.active {
  color: #666;
  font-weight: bold;
}

h2 {
  /*top right bottom left*/
  margin: 4px 0 20px 0;
  padding: 8px 0;
  font-size: 2.0em;
  font-weight: lighter;
  border-bottom:1px solid #e9e9e9;
  color: #1a1a1a;
}

table, td, th {
  border: 0px;
  text-align: center;
}

table {
  margin-top: 15px;
  margin-bottom: 30px;
}

td {
  padding-right: 15px;
  padding-bottom: 15px;
}
